@keyframes slideLeftToCenter {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(75%);
  }
}

@keyframes slideRightToCenter {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-75%);
  }
}

.animate-slide-left-to-center {
  animation: slideLeftToCenter 0.5s ease-in-out forwards;
}

.animate-slide-right-to-center {
  animation: slideRightToCenter 0.5s ease-in-out forwards;
}
